.softTransitions{
	 -webkit-transition: all .7s ease-in-out;
}
#container.night{
	 background-color: white;
	 -webkit-filter: invert(100%);
}
#container.night img, #container.night video{
	-webkit-filter: invert(100%);
}
#sidebar-longPost{
	overflow-y: scroll;
	float: left;
	position: fixed;
	height: 70%;
	width: 40%;
	right: 0px;
	background-color: #333;
	z-index: 9999;
	padding: 20px;


}
#sidebar-longPost *{
	box-sizing: border-box;
}
#sidebar-longPost img{
	width: 100%;
	padding-bottom: 700px;
}
#sidebar-longPost.closed, .closed{
	width: 0px;
	background: white;

}
.hidden{
	display: none;
}