.softTransitions{
	 -webkit-transition: all .7s ease-in-out;
}
header#top-nav a.logo{
	-webkit-animation: rotate 15s infinite linear;
	border-right: none !important;
}

#container.night{
	 background-color: white;
	 -webkit-filter: invert(100%);
}
#container.night img, #container.night video{
	-webkit-filter: invert(100%);
}
#sidebar-content-mod{
	overflow-y: scroll;
	float: left;
	position: fixed;
	height: 70%;
	width: 40%;
	right: 0px;
	background-color: #333;
	z-index: 9999;
	padding: 20px;


}
#sidebar-content-mod *{
	box-sizing: border-box;
}
#sidebar-content-mod img{
	width: 100%;
	padding-bottom: 700px;
}
#sidebar-content-mod.closed, .closed{
	width: 0px;
	background: none;

}
.hidden{
	display: none;
}

/* animations */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}